body{
    background-color: rgb(11, 29, 131);
}

h1.planet{
    color: whitesmoke;
    padding-top: 50px;
    
}

  .navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 20px;
  width: 100;

}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: 'Trebuchet MS';
  font-size: 17px;
  font-weight: 300;
  padding: 10px 25px 20px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}

  
  