<!doctype html>
<meta charset=utf-8> 
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home.css') }}">
    </head>
      <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="home">Real Time Astronomy</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="home">Home</a></li>
                  <li><a href="home">About</a></li>
                </ul>
              </div>
            </div>
        </nav>

        <section class="information-sec">
          <div class="jumbotron jumbotron-fluid">
              <h1 class="display-4">Real Time Astronomy</h1>
              <p class="intro">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <div class="row-jumbo">
                <div class="col-xs-3">
                  <h2 class= "units"> Units of Measurement</h2>
                  <form id="my-radio-box-units" action="" method="post" class="radio-units">
                    <label id=radioMI class="container">MI
                      <input class="radioBtnClass" type="radio" name="radio" value="radioMI" checked>
                      <span class="checkmark"></span>
                    </label>
      
                    <label id=radioKM class="container">KM
                      <input class="radioBtnClass" type="radio" name="radio" value="radioKM">
                      <span class="checkmark"></span>
                    </label>
      
                    <label id=radioAU class="container">AU
                      <input class="radioBtnClass" type="radio" name="radio" value="radioAU">
                      <span class="checkmark"></span>
                    </label>
                  </form>
                </div>
                <div class="col-xs-3">
                  <h2 class= "coordinates"> Cartesian Coordinates</h2>
                  <form id="my-radio-box-coord" action="" method="post">
                    <label id=radioH class="container">Heliocentric
                      <input class="radioBtnClass" type="radio" name="radio" value="radioH" checked>
                      <span class="checkmark"></span>
                    </label>
                    <label id=radioG class="container">Geocentric
                      <input class="radioBtnClass" type="radio" name="radio" value="radioG">
                      <span class="checkmark"></span>
                    </label>
                  </form>
                </div>

                <div class="col-xs-3">
                  <h2 class= "units"> Angular Coordinates</h2>
                  <form id="my-radio-box-units" action="" method="post" class="radio-units">
                    <label id=radioMI class="container">Ecliptic
                      <input class="radioBtnClass" type="radio" name="radio" value="radioMI" checked>
                      <span class="checkmark"></span>
                    </label>
      
                    <label id=radioKM class="container">Equatorial
                      <input class="radioBtnClass" type="radio" name="radio" value="radioKM">
                      <span class="checkmark"></span>
                    </label>
      
                    <label id=radioAU class="container">Horizontal
                      <input class="radioBtnClass" type="radio" name="radio" value="radioAU">
                      <span class="checkmark"></span>
                    </label>
                  </form>
                </div>

                <div class="col-xs-3">
                  <h2 class= "current-time"> Current Time</h2>
                  <p id="current-time-text" class="current-time">{{currentTime}}<br> asd</p>
                </div>
              </div>

            </div>
          </div>    
        </section>

          <div class="row">
            <div class="col-xs-4">
            <!-- START MERCURY PANEL -->
            <div class="panel panel-default mercury-panel">
                <div class="panel-heading mercury-heading">Mercury
                    <img class="mercury-img" src="/static/mercury.png">
                </div>
                
                <div class="panel-body mercury-body">
                    <div class="row">
                        <div id=mercury-dist-text class="col-xs-6 mercury"  style="padding-left: 0px;">Distance in MI:</div>
                        <div id=mercury-dist class="col-xs-6 mercury-dist">{{distanceList[0]}}</div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-6 mercury-hx" style="padding-left: 0px;">x-coordinate:</div>
                        <div id=mercury-hx class="col-xs-6 mercury-h-dist">{{calculations[0][1]}}</div> 
                    </div>
                    <div class="row">
                    <div class="col-xs-6 mercury-hy" style="padding-left: 0px;">y-coordinate:</div>
                    <div id=mercury-hy class="col-xs-6 mercury-h-dist">{{calculations[0][2]}}</div> 
                </div>
                <div class="row">
                    <div class="col-xs-6 mercury-hz" style="padding-left: 0px;">z-coordinate:</div>
                    <div id=mercury-hz class="col-xs-6 mercury-h-dist">{{calculations[0][3]}}</div> 
                </div>
                </div>
            </div>
            <!-- END MERCURY PANEL  -->

            <!-- JUPITER PANEL -->
            <div class="panel panel-default jupiter-panel">
                <div class="panel-heading jupiter-heading">Jupiter
                    <img class="jupiter-img" src="/static/jupiter.png">
                </div>
                
                <div class="panel-body jupiter-body">
                    <div class="row">
                        <div id=jupiter-dist-text class="col-xs-6 jupiter"  style="padding-left: 0px;">Distance in Mi:</div>
                        <div id=jupiter-dist class="col-xs-6 jupiter-dist">{{distanceList[3]}}</div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-6 jupiter-hx" style="padding-left: 0px;">x-coordinate:</div>
                        <div id=jupiter-hx class="col-xs-6 jupiter-h-dist">{{calculations[3][1]}}</div> 
                    </div>
                    <div class="row">
                    <div class="col-xs-6 jupiter-hy" style="padding-left: 0px;">y-coordinate:</div>
                    <div id=jupiter-hy class="col-xs-6 jupiter-h-dist">{{calculations[3][2]}}</div> 
                </div>
                <div class="row">
                    <div class="col-xs-6 jupiter-hz" style="padding-left: 0px;">z-coordinate:</div>
                    <div id=jupiter-hz class="col-xs-6 jupiter-h-dist">{{calculations[3][3]}}</div> 
                </div>
                </div>
            </div>
            <!-- END JUPITER PANEL -->

            <!-- NEPTUNE PANEL -->
            <div class="panel panel-default neptune-panel">
                <div class="panel-heading neptune-heading">Neptune
                    <img class="neptune-img" src="/static/neptune.png">
                </div>
                
                <div class="panel-body neptune-body">
                    <div class="row">
                        <div id=neptune-dist-text class="col-xs-6 neptune"  style="padding-left: 0px;">Distance:</div>
                        <div id=neptune-dist class="col-xs-6 neptune-dist">{{distanceList[4]}}</div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-6 neptune-hx" style="padding-left: 0px;">x-coordinate:</div>
                        <div id=neptune-hx class="col-xs-6 neptune-h-dist">{{calculations[4][1]}}</div> 
                    </div>
                    <div class="row">
                    <div class="col-xs-6 neptune-hy" style="padding-left: 0px;">y-coordinate:</div>
                    <div id=neptune-hy class="col-xs-6 neptune-h-dist">{{calculations[4][2]}}</div> 
                </div>
                <div class="row">
                    <div class="col-xs-6 neptune-hz" style="padding-left: 0px;">z-coordinate:</div>
                    <div id=neptune-hz class="col-xs-6 neptune-h-dist">{{calculations[4][3]}}</div> 
                </div>
                </div>
            </div>
            <!-- END NEPTUNE PANEL -->
        </div>
        <div class="col-xs-4">
            <!-- START VENUS PANEL -->
            <div class="panel panel-default venus-panel">
                <div class="panel-heading venus-heading">Venus
                    <img class="venus-img" src="/static/venus.png">
                </div>
                
                <div class="panel-body venus-body">
                    <div class="row">
                        <div id=venus-dist-text class="col-xs-6 venus"  style="padding-left: 0px;">Distance:</div>
                        <div id=venus-dist class="col-xs-6 venus-dist">{{calculations[1][0]}}</div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-6 venus-hx" style="padding-left: 0px;">x-coordinate:</div>
                        <div id=venus-hx class="col-xs-6 venus-h-dist">{{calculations[1][1]}}</div> 
                    </div>
                    <div class="row">
                    <div class="col-xs-6 venus-hy" style="padding-left: 0px;">y-coordinate:</div>
                    <div id=venus-hy class="col-xs-6 venus-h-dist">{{calculations[1][2]}}</div> 
                </div>
                <div class="row">
                    <div class="col-xs-6 venus-hz" style="padding-left: 0px;">z-coordinate:</div>
                    <div id=venus-hz class="col-xs-6 venus-h-dist">{{calculations[1][3]}}</div> 
                </div>
                </div>
            </div>
            <!-- END VENUS PANEL -->

            <!-- START SATURN PANEL -->
            <div class="panel panel-default saturn-panel">
            <div class="panel-heading saturn-heading">Saturn
                <img class="saturn-img" src="/static/saturn.png">
            </div>
            
            <div class="panel-body saturn-body">
                <div class="row">
                    <div class="col-xs-6 saturn"  style="padding-left: 0px;">Distance:</div>
                    <div class="col-xs-6 saturn-dist">{{calculations[0][0]}}</div> 
                </div>
                <div class="row">
                    <div class="col-xs-6 saturn-hx" style="padding-left: 0px;">x-coordinate:</div>
                    <div class="col-xs-6 saturn-h-dist">{{calculations[0][1]}}</div> 
                </div>
                <div class="row">
                <div class="col-xs-6 saturn-hy" style="padding-left: 0px;">y-coordinate:</div>
                <div class="col-xs-6 saturn-h-dist">{{calculations[0][2]}}</div> 
            </div>
            <div class="row">
                <div class="col-xs-6 saturn-hz" style="padding-left: 0px;">z-coordinate:</div>
                <div class="col-xs-6 saturn-h-dist">{{calculations[0][3]}}</div> 
            </div>
            </div>
        </div>
        <!-- END SATURN PANEL  -->
    </div>

        <div class="col-xs-4">
            <!-- MARS PANEL -->
            <div class="panel panel-default mars-panel">
                <div class="panel-heading mars-heading">Mars
                    <img class="mars-img" src="/static/mars.png">
                </div>
                
                <div class="panel-body mars-body">
                    <div class="row">
                        <div id=mars-dist-text class="col-xs-6 mars"  style="padding-left: 0px;">Distance:</div>
                        <div id=mars-dist class="col-xs-6 mars-dist">{{calculations[2][1]}}</div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-6 mars-hx" style="padding-left: 0px;">x-coordinate:</div>
                        <div id=mars-hx class="col-xs-6 mars-h-dist">{{calculations[2][1]}}</div> 
                    </div>
                    <div class="row">
                    <div class="col-xs-6 mars-hy" style="padding-left: 0px;">y-coordinate:</div>
                    <div id=mars-hy class="col-xs-6 mars-dist">{{calculations[2][2]}}</div> 
                </div>
                <div class="row">
                    <div class="col-xs-6 mars-hz" style="padding-left: 0px;">z-coordinate:</div>
                    <div id=mars-hz class="col-xs-6 mars-h-dist">{{calculations[2][3]}}</div> 
                </div>
                </div>
            </div>
            <!-- END MARS PANEL -->

            <!-- URANUS PANEL -->
            <div class="panel panel-default uranus-panel">
                <div class="panel-heading uranus-heading">Uranus
                    <img class="uranus-img" src="/static/uranus.png">
                </div>
                
                <div class="panel-body uranus-body">
                    <div class="row">
                        <div class="col-xs-6 uranus"  style="padding-left: 0px;">Distance:</div>
                        <div class="col-xs-6 uranus-dist">{{calculations[2][0]}}</div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-6 uranus-hx" style="padding-left: 0px;">x-coordinate:</div>
                        <div class="col-xs-6 uranus-h-dist">{{calculations[2][1]}}</div> 
                    </div>
                    <div class="row">
                    <div class="col-xs-6 uranus-hy" style="padding-left: 0px;">y-coordinate:</div>
                    <div class="col-xs-6 uranus-dist">{{calculations[2][2]}}</div> 
                </div>
                <div class="row">
                    <div class="col-xs-6 uranus-hz" style="padding-left: 0px;">z-coordinate:</div>
                    <div class="col-xs-6 uranus-h-dist">{{calculations[2][3]}}</div> 
                </div>
                </div>
            </div>
            <!-- END URABUS PANEL -->
        </div>
    </div>
        
        <div>
            <div id="calculations"></div>
            <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        </div>
      </body>
